.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}
.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    margin: 120px auto;
}
#star-rating span {
    font-size: 28px;
    cursor: pointer;
    color: #ccc;  /* 未填滿的星星 */
}
#star-rating .selected {
    color: gold;  /* 填滿的星星 */
}
