.stats-container {
    padding: 20px;
}

.filter-box {
    margin-bottom: 20px;
    background: #fafafa;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    gap: 15px;
}

.chart-switch button {
    margin-right: 10px;
}

.chart-box {
    position: relative;
    width: 100%;
    max-width: 900px;  /* 最大寬度 */
    height: 400px;     /* 高度限制 */
    margin-top: 20px;
}

.chart-box canvas {
    width: 100% !important;
    height: 100% !important;
}

