<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>{{ title or "北寧路早餐店" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Favicon.png') }}" type="image/x-icon">
</head>
<body data-username="{{ session.get('username', '') }}" data-role="{{ session.get('role', '') }}">
    <header>
        <h1>北寧路早餐店</h1>
        
        <nav>
            <a href="/">首頁</a>
            <a href="/cart">購物車</a>
            <a href="/reviews">評論區</a>  
            {% if not session.get("username") %}
                <a href="/login">登入</a>
                <a href="/register">註冊</a>
            {% endif %}
        </nav>

        <!-- 使用者圖示 + 滑出選單容器 -->
        <div id="user-container">
            <img 
                id="user-icon" 
                src="{% if session.get('avatar') %}/api/profile/avatar/{{ session.get('avatar') }}{% else %}{{ session.get('google_avatar') or url_for('static', filename='images/user.png') }}{% endif %}" 
                alt="使用者圖示"
            >
            
            <div id="user-slide-menu">
                <button id="close-menu-btn" class="close-x">&times;</button>
                {% if session.get("username") %}
                    <p id="username">使用者：{{ session.get("username") }}</p>
                    <button id="orders-btn">查看訂單</button>
                    <button id="profile-btn">使用者介面</button>
                    <button id="favorites-btn">我的收藏</button>

                    {% if session.get("role") in ["admin", "sub-admin"] %}
                        <hr>
                        <p id="username">管理者專區</p>
                        <button class="admin-btn" data-url="/admin">商品管理</button>
                        <button class="admin-btn" data-url="/admin/stats">商品統計</button>
                        {% if session.get("role") == "admin" %}
                            <button class="admin-btn" data-url="/admin/orders">接單系統</button>
                            <button class="admin-btn" data-url="/admin/user">人員管理</button>
                        {% endif %}
                        <button class="admin-btn" data-url="/admin/promotions">促銷管理</button>
                    {% endif %}

                    <hr>
                    <button id="logout-btn">登出</button>
                {% else %}
                    <p id="user-status">未登入</p>
                    <button id="login-btn">登入</button>
                {% endif %}
            </div>

        </div>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>©北寧路早餐店</p>
    </footer>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/user_popup.js') }}"></script>
</body>
</html>