{% extends "base.html" %}
{% block content %}
<h2>個人資料</h2>

<p>使用者名稱：{{ user.username }}</p>

<!-- 頭像 -->
<img src="{% if session.get('avatar') %}/api/profile/avatar/{{ session['avatar'] }}{% else %}{{ session.get('google_avatar') or url_for('static', filename='images/user.png') }}{% endif %}" 
     alt="avatar" style="width:100px;border-radius:50%;" id="avatar-img">


<br>
<input type="file" id="avatar-input">
<button id="upload-avatar">上傳頭像</button>
<button id="delete-avatar">刪除頭像</button>

<h3>修改密碼</h3>
<input type="password" id="old-password" placeholder="舊密碼">
<input type="password" id="new-password" placeholder="新密碼">
<button id="change-password">修改密碼</button>

<script defer src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
